body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#square {
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

#controlRadius {
    position: fixed;
    bottom: 20px;
}
